@{
    ViewBag.Title = "Forgot Password Confirmation";
    var message = (ZHYR_Library.ViewModels.MessageVm)TempData["Message"];
}
  
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div> 
   
    @if (message != null)
    {
        <div class="alert @message.CssClassName alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@message.Title</strong>
            The Reset Code Has Sent To @message.Message , Please check your email to reset your password.
        </div>
    }
</div>
	
