
@{
    ViewBag.Title = "Metirial Icons";
}
<style>
    #icon li {
        background-color: #fff;
        margin: 5px;
        box-shadow:1px 2px 3px rgba(139, 141, 138, 0.90);
        cursor:pointer;
    }
        #icon li:hover {
            box-shadow: 1px 4px 10px rgba(139, 141, 138, 0.90);
        }
        #icon li:hover i{
            font-size: 30px;
        }
        #icon li i {
            font-size: 25px;
        }
        #icon li p {
            font-size: 20px;
        }
        #icon li:hover p {
            font-size: 17px;
        }
</style>
    <div class="container text-center">
        <h2>@ViewBag.Title</h2>
        <div class="row">
           <hr />
            <div class="col-md-12">
                <div class="row ">
                    <ul id="icon" class="list-unstyled">
                        <li class="col-md-2">
                            <i class="material-icons"> format_indent_decrease </i>
                            <p class="caption"> formatindentdecrease </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_color_text </i>
                            <p class="caption"> formatcolortext </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_color_reset </i>
                            <p class="caption"> formatcolorreset </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_color_fill </i>
                            <p class="caption"> formatcolorfill </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_clear </i>
                            <p class="caption"> formatclear </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_bold </i>
                            <p class="caption"> formatbold </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_align_right </i>
                            <p class="caption"> formatalignright </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_align_left </i>
                            <p class="caption"> formatalignleft </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_align_justify </i>
                            <p class="caption"> formatalignjustify </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> format_align_center </i>
                            <p class="caption"> formataligncenter </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> drag_handle </i>
                            <p class="caption"> draghandle </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> bubble_chart </i>
                            <p class="caption"> bubblechart </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> border_vertical </i>
                            <p class="caption"> bordervertical </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> border_top </i>
                            <p class="caption"> bordertop </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> border_style </i>
                            <p class="caption"> borderstyle </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> border_right </i>
                            <p class="caption"> borderright </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> border_outer </i>
                            <p class="caption"> borderouter </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> border_left </i>
                            <p class="caption"> borderleft </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> settings_input_composite </i>
                            <p class="caption">input composite </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_input_hdmi </i>
                            <p class="caption"> settings input hdmi </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> settings_input_svideo </i>
                            <p class="caption"> settings input svideo </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_overscan </i>
                            <p class="caption"> settings overscan </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_phone </i>
                            <p class="caption"> settings phone </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> settings_power </i>
                            <p class="caption"> settings_power </p>
                        <li class="   col-md-2">
                            <i class="material-icons"> settings_remote </i>
                            <p class="caption"> settings remote </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_voice </i>
                            <p class="caption"> settings voice </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> remove_shopping_cart </i>
                            <p class="caption"> removeshoppingcart </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> reorder </i>
                            <p class="caption"> reorder </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> report_problem </i>
                            <p class="caption"> reportproblem </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> restore </i>
                            <p class="caption"> restore </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> date_range </i>
                            <p class="caption"> daterange </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> dashboard </i>
                            <p class="caption"> dashboard </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> credit_card </i>
                            <p class="caption"> creditcard </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> copyright </i>
                            <p class="caption"> copyright </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> compare_arrows </i>
                            <p class="caption"> comparearrows </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> code </i>
                            <p class="caption"> code </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> class </i>
                            <p class="caption"> class </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> chrome_reader_mode </i>
                            <p class="caption"> chromereadermode </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> check_circle </i>
                            <p class="caption"> checkcircle </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> explicit </i>
                            <p class="caption"> explicit </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fast_forward </i>
                            <p class="caption"> fastforward </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fast_rewind </i>
                            <p class="caption"> fastrewind </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> featured_play_list </i>
                            <p class="caption"> featuredplaylist </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> featured_video </i>
                            <p class="caption"> featuredvideo </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_dvr </i>
                            <p class="caption"> fiberdvr </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_manual_record </i>
                            <p class="caption"> fibermanualrecord </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_new </i>
                            <p class="caption"> fibernew </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_pin </i>
                            <p class="caption"> fiberpin </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_smart_record </i>
                            <p class="caption"> fibersmartrecord </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> forward_10 </i>
                            <p class="caption"> forward10 </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> forward_30 </i>
                            <p class="caption"> forward30 </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> forward_5 </i>
                            <p class="caption"> forward5 </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> games </i>
                            <p class="caption"> games </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> hd </i>
                            <p class="caption"> hd </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> hearing </i>
                            <p class="caption"> hearing </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> high_quality </i>
                            <p class="caption"> highquality </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> library_add </i>
                            <p class="caption"> libraryadd </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> library_books </i>
                            <p class="caption"> librarybooks </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> library_music </i>
                            <p class="caption"> librarymusic </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> loop </i>
                            <p class="caption"> loop </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> mic </i>
                            <p class="caption"> mic </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> mic_none </i>
                            <p class="caption"> micnone </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> event_seat </i>
                            <p class="caption"> eventseat </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> exit_to_app </i>
                            <p class="caption"> exittoapp </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> explore </i>
                            <p class="caption"> explore </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> extension </i>
                            <p class="caption"> extension </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> face </i>
                            <p class="caption"> face </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> favorite </i>
                            <p class="caption"> favorite </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> favorite_border </i>
                            <p class="caption"> favoriteborder </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> feedback </i>
                            <p class="caption"> feedback </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> find_in_page </i>
                            <p class="caption"> find in page </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> schedule </i>
                            <p class="caption"> schedule </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> rowing </i>
                            <p class="caption"> rowing </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> rounded_corner </i>
                            <p class="caption"> rounded corner </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> room </i>
                            <p class="caption"> room </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> restore_page </i>
                            <p class="caption"> restorepage </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> new_releases </i>
                            <p class="caption"> newreleases </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> music_video </i>
                            <p class="caption"> musicvideo </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> mic_off </i>
                            <p class="caption"> micoff </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> event </i>
                            <p class="caption"> event </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> euro_symbol </i>
                            <p class="caption"> euro symbol </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> settings_input_component </i>
                            <p class="caption"> input component </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> battery_full </i>
                            <p class="caption"> battery full </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> battery_charging_full </i>
                            <p class="caption"> batterychargingfull </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> battery_alert </i>
                            <p class="caption"> batteryalert </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> airplanemode_inactive </i>
                            <p class="caption"> airplanemodeinactive </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> airplanemode_active </i>
                            <p class="caption"> airplanemodeactive </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> add_alarm </i>
                            <p class="caption"> addalarm </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> access_time </i>
                            <p class="caption"> accesstime </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> access_alarms </i>
                            <p class="caption"> accessalarms </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> access_alarm </i>
                            <p class="caption"> accessalarm </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> weekend </i>
                            <p class="caption"> weekend </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> undo </i>
                            <p class="caption"> undo </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> unarchive </i>
                            <p class="caption"> unarchive </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> text_format </i>
                            <p class="caption"> textformat </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> sort </i>
                            <p class="caption"> sort </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> send </i>
                            <p class="caption"> send </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> select_all </i>
                            <p class="caption"> selectall </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> save </i>
                            <p class="caption"> save </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> report </i>
                            <p class="caption"> report </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> reply_all </i>
                            <p class="caption"> replyall </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> reply </i>
                            <p class="caption"> reply </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> remove_circle_outline </i>
                            <p class="caption"> removecircleoutline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> remove_circle </i>
                            <p class="caption"> removecircle </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> remove </i>
                            <p class="caption"> remove </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> redo </i>
                            <p class="caption"> redo </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> next_week </i>
                            <p class="caption"> nextweek </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> move_to_inbox </i>
                            <p class="caption"> movetoinbox </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> markunread </i>
                            <p class="caption"> markunread </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> mail </i>
                            <p class="caption"> mail </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> wifi_tethering </i>
                            <p class="caption"> wifitethering </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> wifi_lock </i>
                            <p class="caption"> wifilock </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> widgets </i>
                            <p class="caption"> widgets </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> wallpaper </i>
                            <p class="caption"> wallpaper </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> usb </i>
                            <p class="caption"> usb </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> storage </i>
                            <p class="caption"> storage </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> signal_wifi_off </i>
                            <p class="caption"> signalwifioff </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> signal_wifi_4_bar_lock </i>
                            <p class="caption"> signalwifi4barlock </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> signal_wifi_4_bar </i>
                            <p class="caption"> signalwifi4bar </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> signal_cellular_off </i>
                            <p class="caption"> signalcellularoff </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> signal_cellular_null </i>
                            <p class="caption"> signalcellularnull </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> signal_cellular_no_sim </i>
                            <p class="caption"> signalcellularnosim </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> signal_cellular_connected_no_internet_4_bar </i>
                            <p class="caption"> signalcellularconnectednointernet4bar </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> signal_cellular_4_bar </i>
                            <p class="caption"> signalcellular4bar </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_system_daydream </i>
                            <p class="caption">system daydream </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> sd_storage </i>
                            <p class="caption"> sdstorage </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> screen_rotation </i>
                            <p class="caption"> screenrotation </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> screen_lock_rotation </i>
                            <p class="caption"> screenlockrotation </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> screen_lock_portrait </i>
                            <p class="caption"> screenlockportrait </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> screen_lock_landscape </i>
                            <p class="caption"> screenlocklandscape </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> nfc </i>
                            <p class="caption"> nfc </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> network_wifi </i>
                            <p class="caption"> networkwifi </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> network_cell </i>
                            <p class="caption"> networkcell </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> location_searching </i>
                            <p class="caption"> locationsearching </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> location_disabled </i>
                            <p class="caption"> locationdisabled </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> graphic_eq </i>
                            <p class="caption"> graphiceq </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> gps_off </i>
                            <p class="caption"> gpsoff </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> gps_not_fixed </i>
                            <p class="caption"> gpsnotfixed </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> gps_fixed </i>
                            <p class="caption"> gpsfixed </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> dvr </i>
                            <p class="caption"> dvr </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> devices </i>
                            <p class="caption"> devices </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> developer_mode </i>
                            <p class="caption"> developermode </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> data_usage </i>
                            <p class="caption"> datausage </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> brightness_medium </i>
                            <p class="caption"> brightnessmedium </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> attach_file </i>
                            <p class="caption"> attachfile </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> attach_money </i>
                            <p class="caption"> attachmoney </p>
                        </li>



                        <li class="   col-md-2">
                            <i class="material-icons"> border_all </i>
                            <p class="caption"> borderall </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> border_bottom </i>
                            <p class="caption"> borderbottom </p>
                        </li>



                        <li class="   col-md-2">
                            <i class="material-icons"> border_clear </i>
                            <p class="caption"> borderclear </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> border_color </i>
                            <p class="caption"> bordercolor </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> border_horizontal </i>
                            <p class="caption"> borderhorizontal </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> vpn_key </i>
                            <p class="caption"> vpnkey </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> add </i>
                            <p class="caption"> add </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> add_box </i>
                            <p class="caption"> addbox </p>
                        </li>



                        <li class="   col-md-2">
                            <i class="material-icons"> add_circle </i>
                            <p class="caption"> addcircle </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> add_circle_outline </i>
                            <p class="caption"> addcircleoutline </p>
                        </li>




                        <li class="   col-md-2">
                            <i class="material-icons"> archive </i>
                            <p class="caption"> archive </p>
                        </li>



                        <li class="   col-md-2">
                            <i class="material-icons"> backspace </i>
                            <p class="caption"> backspace </p>
                        </li>



                        <li class="   col-md-2">
                            <i class="material-icons"> block </i>
                            <p class="caption"> block </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> clear </i>
                            <p class="caption"> clear </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> content_copy </i>
                            <p class="caption"> contentcopy </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> content_cut </i>
                            <p class="caption"> contentcut </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> content_paste </i>
                            <p class="caption"> contentpaste </p>
                        </li>




                        <li class="   col-md-2">
                            <i class="material-icons"> create </i>
                            <p class="caption"> create </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> delete_sweep </i>
                            <p class="caption"> deletesweep </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> drafts </i>
                            <p class="caption"> drafts </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> filter_list </i>
                            <p class="caption"> filterlist </p>
                        </li>



                        <li class="   col-md-2">
                            <i class="material-icons"> flag </i>
                            <p class="caption"> flag </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> font_download </i>
                            <p class="caption"> fontdownload </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> forward </i>
                            <p class="caption"> forward </p>
                        </li>




                        <li class="   col-md-2">
                            <i class="material-icons"> gesture </i>
                            <p class="caption"> gesture </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> inbox </i>
                            <p class="caption"> inbox </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> link </i>
                            <p class="caption"> link </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> low_priority </i>
                            <p class="caption"> lowpriority </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> present_to_all </i>
                            <p class="caption"> presenttoall </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> ring_volume </i>
                            <p class="caption"> ringvolume </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> rss_feed </i>
                            <p class="caption"> rssfeed </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> screen_share </i>
                            <p class="caption"> screenshare </p>
                        </li>



                        <li class="   col-md-2">
                            <i class="material-icons"> speaker_phone </i>
                            <p class="caption"> speakerphone </p>
                        </li>




                        <li class="   col-md-2">
                            <i class="material-icons"> stay_current_landscape </i>
                            <p class="caption"> staycurrentlandscape </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> stay_current_portrait </i>
                            <p class="caption"> staycurrentportrait </p>
                        </li>





                        <li class="   col-md-2">
                            <i class="material-icons"> stay_primary_landscape </i>
                            <p class="caption"> stayprimarylandscape </p>
                        </li>




                        <li class="   col-md-2">
                            <i class="material-icons"> stay_primary_portrait </i>
                            <p class="caption"> stayprimaryportrait </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> gavel </i>
                            <p class="caption"> gavel </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> g_translate </i>
                            <p class="caption"> gtranslate </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> flip_to_front </i>
                            <p class="caption"> fliptofront </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> flip_to_back </i>
                            <p class="caption"> fliptoback </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> flight_takeoff </i>
                            <p class="caption"> flighttakeoff </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_input_antenna </i>
                            <p class="caption">  input antenna </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_ethernet </i>
                            <p class="caption"> settings ethernet </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_cell </i>
                            <p class="caption"> settings cell </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_brightness </i>
                            <p class="caption"> settings brightness </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_bluetooth </i>
                            <p class="caption"> settings bluetooth </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> delete </i>
                            <p class="caption"> delete </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> delete_forever </i>
                            <p class="caption"> deleteforever </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> description </i>
                            <p class="caption"> description </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> dns </i>
                            <p class="caption"> dns </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> done </i>
                            <p class="caption"> done </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> done_all </i>
                            <p class="caption"> doneall </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> donut_large </i>
                            <p class="caption"> donutlarge </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> donut_small </i>
                            <p class="caption"> donutsmall </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_backup_restore </i>
                            <p class="caption">backuprestore </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings_applications </i>
                            <p class="caption"> settings applications </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> settings  </i>
                            <p class="caption"> settings  </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> search </i>
                            <p class="caption"> search </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> find_replace </i>
                            <p class="caption"> findreplace </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fingerprint </i>
                            <p class="caption"> fingerprint </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> flight_land </i>
                            <p class="caption"> flightland </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> playlist_add </i>
                            <p class="caption"> playlistadd </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> play_circle_outline </i>
                            <p class="caption"> playcircleoutline </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> play_circle_filled </i>
                            <p class="caption"> playcirclefilled </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> play_arrow </i>
                            <p class="caption"> playarrow </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> pause_circle_outline </i>
                            <p class="caption"> pausecircleoutline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> pause_circle_filled </i>
                            <p class="caption"> pausecirclefilled </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> polymer </i>
                            <p class="caption"> polymer </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> not_interested </i>
                            <p class="caption"> notinterested </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> note </i>
                            <p class="caption"> note </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> pause </i>
                            <p class="caption"> pause </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> power_settings_new </i>
                            <p class="caption"> powersettings new </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> pregnant_woman </i>
                            <p class="caption"> pregnantwoman </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> print </i>
                            <p class="caption"> print </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> query_builder </i>
                            <p class="caption"> querybuilder </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> question_answer </i>
                            <p class="caption"> questionanswer </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> battery_std </i>
                            <p class="caption"> batterystd </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> battery_unknown </i>
                            <p class="caption"> batteryunknown </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> bluetooth </i>
                            <p class="caption"> bluetooth </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> bluetooth_connected </i>
                            <p class="caption"> bluetoothconnected </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> bluetooth_disabled </i>
                            <p class="caption"> bluetoothdisabled </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> bluetooth_searching </i>
                            <p class="caption"> bluetoothsearching </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> brightness_auto </i>
                            <p class="caption"> brightnessauto </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> brightness_high </i>
                            <p class="caption"> brightnesshigh </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> brightness_low </i>
                            <p class="caption"> brightnesslow </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> stop_screen_share </i>
                            <p class="caption"> stopscreenshare </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> swap_calls </i>
                            <p class="caption"> swapcalls </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> textsms </i>
                            <p class="caption"> textsms </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> voicemail </i>
                            <p class="caption"> voicemail </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> format_indent_increase </i>
                            <p class="caption"> formatindentincrease </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> format_italic </i>
                            <p class="caption"> formatitalic </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> eject </i>
                            <p class="caption"> eject </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> play_for_work </i>
                            <p class="caption"> playforwork </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> picture_in_picture_alt </i>
                            <p class="caption"> pictureinpicturealt </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> picture_in_picture </i>
                            <p class="caption"> pictureinpicture </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> pets </i>
                            <p class="caption"> pets </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> perm_scan_wifi </i>
                            <p class="caption"> permscanwifi </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> perm_phone_msg </i>
                            <p class="caption"> permphonemsg </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> perm_media </i>
                            <p class="caption"> permmedia </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> perm_identity </i>
                            <p class="caption"> permidentity </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> perm_device_information </i>
                            <p class="caption"> permdeviceinformation </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> perm_data_setting </i>
                            <p class="caption"> permdatasetting </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> perm_contact_calendar </i>
                            <p class="caption"> permcontactcalendar </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> perm_camera_mic </i>
                            <p class="caption"> permcameramic </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> payment </i>
                            <p class="caption"> payment </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> pan_tool </i>
                            <p class="caption"> pantool </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> pageview </i>
                            <p class="caption"> pageview </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> open_with </i>
                            <p class="caption"> openwith </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> open_in_new </i>
                            <p class="caption"> openinnew </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> open_in_browser </i>
                            <p class="caption"> openinbrowser </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> opacity </i>
                            <p class="caption"> opacity </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> offline_pin </i>
                            <p class="caption"> offlinepin </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> note_add </i>
                            <p class="caption"> noteadd </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> motorcycle </i>
                            <p class="caption"> motorcycle </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> markunread_mailbox </i>
                            <p class="caption"> markunreadmailbox </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> loyalty </i>
                            <p class="caption"> loyalty </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> lock_outline </i>
                            <p class="caption"> lockoutline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> lock_open </i>
                            <p class="caption"> lockopen </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> lock </i>
                            <p class="caption"> lock </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> list </i>
                            <p class="caption"> list </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> line_weight </i>
                            <p class="caption"> lineweight </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> line_style </i>
                            <p class="caption"> linestyle </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> lightbulb_outline </i>
                            <p class="caption"> lightbulboutline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> launch </i>
                            <p class="caption"> launch </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> language </i>
                            <p class="caption"> language </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> label_outline </i>
                            <p class="caption"> labeloutline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> label </i>
                            <p class="caption"> label </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> invert_colors </i>
                            <p class="caption"> invertcolors </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> input </i>
                            <p class="caption"> input </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> info_outline </i>
                            <p class="caption"> infooutline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> info </i>
                            <p class="caption"> info </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> important_devices </i>
                            <p class="caption"> importantdevices </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> https </i>
                            <p class="caption"> https </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> http </i>
                            <p class="caption"> http </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> hourglass_full </i>
                            <p class="caption"> hourglassfull </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> hourglass_empty </i>
                            <p class="caption"> hourglassempty </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> home </i>
                            <p class="caption"> home </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> history </i>
                            <p class="caption"> history </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> highlight_off </i>
                            <p class="caption"> highlightoff </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> help_outline </i>
                            <p class="caption"> helpoutline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> help </i>
                            <p class="caption"> help </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> group_work </i>
                            <p class="caption"> groupwork </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> grade </i>
                            <p class="caption"> grade </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> gif </i>
                            <p class="caption"> gif </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> get_app </i>
                            <p class="caption"> getapp </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> receipt </i>
                            <p class="caption"> receipt </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> record_voice_over </i>
                            <p class="caption"> recordvoiceover </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> redeem </i>
                            <p class="caption"> redeem </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> shop </i>
                            <p class="caption"> shop </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> shop_two </i>
                            <p class="caption"> shoptwo </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> shopping_basket </i>
                            <p class="caption"> shoppingbasket </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> shopping_cart </i>
                            <p class="caption"> shoppingcart </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> speaker_notes </i>
                            <p class="caption"> speakernotes </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> speaker_notes_off </i>
                            <p class="caption"> speakernotesoff </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> spellcheck </i>
                            <p class="caption"> spellcheck </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> star_rate </i>
                            <p class="caption"> starrate </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> stars </i>
                            <p class="caption"> stars </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> store </i>
                            <p class="caption"> store </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> subject </i>
                            <p class="caption"> subject </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> supervisor_account </i>
                            <p class="caption"> supervisoraccount </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> swap_horiz </i>
                            <p class="caption"> swaphoriz </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> swap_vert </i>
                            <p class="caption"> swapvert </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> swap_vertical_circle </i>
                            <p class="caption"> swapverticalcircle </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> system_update_alt </i>
                            <p class="caption"> systemupdatealt </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> tab </i>
                            <p class="caption"> tab </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> tab_unselected </i>
                            <p class="caption"> tabunselected </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> theaters </i>
                            <p class="caption"> theaters </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> thumb_down </i>
                            <p class="caption"> thumbdown </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> thumb_up </i>
                            <p class="caption"> thumbup </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> thumbs_up_down </i>
                            <p class="caption"> thumbsupdown </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> timeline </i>
                            <p class="caption"> timeline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> toc </i>
                            <p class="caption"> toc </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> today </i>
                            <p class="caption"> today </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> toll </i>
                            <p class="caption"> toll </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> touch_app </i>
                            <p class="caption"> touchapp </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> track_changes </i>
                            <p class="caption"> trackchanges </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> translate </i>
                            <p class="caption"> translate </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> trending_down </i>
                            <p class="caption"> trendingdown </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> trending_flat </i>
                            <p class="caption"> trendingflat </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> trending_up </i>
                            <p class="caption"> trendingup </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> turned_in </i>
                            <p class="caption"> turnedin </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> turned_in_not </i>
                            <p class="caption"> turnedinnot </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> update </i>
                            <p class="caption"> update </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> verified_user </i>
                            <p class="caption"> verifieduser </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_agenda </i>
                            <p class="caption"> viewagenda </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_array </i>
                            <p class="caption"> viewarray </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_carousel </i>
                            <p class="caption"> viewcarousel </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_column </i>
                            <p class="caption"> viewcolumn </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_day </i>
                            <p class="caption"> viewday </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_headline </i>
                            <p class="caption"> viewheadline </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_list </i>
                            <p class="caption"> viewlist </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_module </i>
                            <p class="caption"> viewmodule </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_quilt </i>
                            <p class="caption"> viewquilt </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_stream </i>
                            <p class="caption"> viewstream </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> view_week </i>
                            <p class="caption"> viewweek </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> visibility </i>
                            <p class="caption"> visibility </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> visibility_off </i>
                            <p class="caption"> visibilityoff </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> watch_later </i>
                            <p class="caption"> watchlater </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> work </i>
                            <p class="caption"> work </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> youtube_searched_for </i>
                            <p class="caption"> youtubesearchedfor </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> zoom_in </i>
                            <p class="caption"> zoomin </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> zoom_out </i>
                            <p class="caption"> zoomout </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> add_alert </i>
                            <p class="caption"> addalert </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> error </i>
                            <p class="caption"> error </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> error_outline </i>
                            <p class="caption"> erroroutline </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> warning </i>
                            <p class="caption"> warning </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> add_to_queue </i>
                            <p class="caption"> addtoqueue </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> airplay </i>
                            <p class="caption"> airplay </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> album </i>
                            <p class="caption"> album </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> art_track </i>
                            <p class="caption"> arttrack </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> av_timer </i>
                            <p class="caption"> avtimer </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> branding_watermark </i>
                            <p class="caption"> brandingwatermark </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> call_to_action </i>
                            <p class="caption"> calltoaction </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> closed_caption </i>
                            <p class="caption"> closedcaption </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> equalizer </i>
                            <p class="caption"> equalizer </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> explicit </i>
                            <p class="caption"> explicit </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> fast_forward </i>
                            <p class="caption"> fastforward </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> fast_rewind </i>
                            <p class="caption"> fastrewind </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> featured_play_list </i>
                            <p class="caption"> featuredplaylist </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> featured_video </i>
                            <p class="caption"> featuredvideo </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_dvr </i>
                            <p class="caption"> fiberdvr </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_manual_record </i>
                            <p class="caption"> fibermanualrecord </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_new </i>
                            <p class="caption"> fibernew </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_pin </i>
                            <p class="caption"> fiberpin </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> fiber_smart_record </i>
                            <p class="caption"> fibersmartrecord </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> forward_10 </i>
                            <p class="caption"> forward10 </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> forward_30 </i>
                            <p class="caption"> forward30 </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> forward_5 </i>
                            <p class="caption"> forward5 </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> games </i>
                            <p class="caption"> games </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> hd </i>
                            <p class="caption"> hd </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> hearing </i>
                            <p class="caption"> hearing </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> high_quality </i>
                            <p class="caption"> highquality </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> library_add </i>
                            <p class="caption"> libraryadd </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> library_books </i>
                            <p class="caption"> librarybooks </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> library_music </i>
                            <p class="caption"> librarymusic </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> loop </i>
                            <p class="caption"> loop </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> mic </i>
                            <p class="caption"> mic </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> mic_none </i>
                            <p class="caption"> micnone </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> mic_off </i>
                            <p class="caption"> micoff </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> movie </i>
                            <p class="caption"> movie </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> music_video </i>
                            <p class="caption"> musicvideo </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> new_releases </i>
                            <p class="caption"> newreleases </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> not_interested </i>
                            <p class="caption"> notinterested </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> note </i>
                            <p class="caption"> note </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> pause </i>
                            <p class="caption"> pause </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> pause_circle_filled </i>
                            <p class="caption"> pausecirclefilled </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> pause_circle_outline </i>
                            <p class="caption"> pausecircleoutline </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> play_arrow </i>
                            <p class="caption"> playarrow </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> play_circle_filled </i>
                            <p class="caption"> playcirclefilled </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> play_circle_outline </i>
                            <p class="caption"> playcircleoutline </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> playlist_add </i>
                            <p class="caption"> playlistadd </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> playlist_add_check </i>
                            <p class="caption"> playlistaddcheck </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> playlist_play </i>
                            <p class="caption"> playlistplay </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> queue </i>
                            <p class="caption"> queue </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> queue_music </i>
                            <p class="caption"> queuemusic </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> queue_play_next </i>
                            <p class="caption"> queueplaynext </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> radio </i>
                            <p class="caption"> radio </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> recent_actors </i>
                            <p class="caption"> recentactors </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> remove_from_queue </i>
                            <p class="caption"> removefromqueue </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> repeat </i>
                            <p class="caption"> repeat </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> repeat_one </i>
                            <p class="caption"> repeatone </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> replay </i>
                            <p class="caption"> replay </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> replay_10 </i>
                            <p class="caption"> replay10 </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> replay_30 </i>
                            <p class="caption"> replay30 </p>
                        </li>


                        <li class="   col-md-2">
                            <i class="material-icons"> replay_5 </i>
                            <p class="caption"> replay5 </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> shuffle </i>
                            <p class="caption"> shuffle </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> skip_next </i>
                            <p class="caption"> skipnext </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> skip_previous </i>
                            <p class="caption"> skipprevious </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> slow_motion_video </i>
                            <p class="caption"> slowmotionvideo </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> snooze </i>
                            <p class="caption"> snooze </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> sort_by_alpha </i>
                            <p class="caption"> sortbyalpha </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> stop </i>
                            <p class="caption"> stop </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> subscriptions </i>
                            <p class="caption"> subscriptions </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> subtitles </i>
                            <p class="caption"> subtitles </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> surround_sound </i>
                            <p class="caption"> surroundsound </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> video_call </i>
                            <p class="caption"> videocall </p>
                        </li>
                        <li class="   col-md-2">
                            <i class="material-icons"> video_label </i>
                            <p class="caption"> videolabel </p>
                        </li>

                        <li class="   col-md-2">
                            <i class="material-icons"> video_library </i>
                            <p class="caption"> videolibrary </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>